# Rust
/target
**/target
Cargo.lock.orig

# Swift / Xcode
.build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.swiftpm/xcuserdata/

# .NET
bin/
obj/
*.user

# Node
node_modules/
npm-debug.log*
yarn-error.log*
*.tsbuildinfo

# WASM build output
pkg/

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
